{
    "presets": [
      "babel-preset-env",
      "babel-preset-stage-0",
      "babel-preset-stage-1",
      "babel-preset-stage-2"
    ],
    "comments": false,
    "env": {
      "production": {
        "plugins": [
          "babel-plugin-transform-remove-console"
        ],
      }
    }
}